{% extends 'base.html' %}

{% block head %}
<title>Countdowns</title>
{% endblock %}

{% block body %}
<div class="flex flex-wrap justify-center items-center">
    <form action="/" method="post">
        
        <input type="text" placeholder="name" name="name" id="name"class="rounded-md">
        <input type="text" placeholder="until ..." name="desc" id="desc"class="rounded-md">
        <input type="datetime-local" name="date_input" id="date_input" class="rounded-md">
        <button type="submit" class="rounded-md text-gray-900 outline outline-1 bg-gray-400 hover:bg-gray-500">submit</button>


    </form>

</div>
{% endblock %}