{% extends 'base.html' %}

{% block head %}
<title>Countdowns</title>
{% endblock %}


{% block body %}

<div class="flex justify-center">
    <div class="text-left">
        <h1 class="text-2xl">Countdowns to:  </h1>
            <li><a class="hover:underline duration-200" href="/christmas">Christmas</a></li>
            <li><a class="hover:underline duration-200" href="/summer">Summer Vacation</a></li>
            <li><a class="hover:underline duration-200" href="/P5R">Persona 5 Roal remake release</a></li>

    </div>

    
    
    
</div>
<br><br>
<div class="flex justify-center text-3xl">
    <h1 class="hover:underline duration-200"><a href="/createnew">Or create your own countdown timer!</a></h1>
</div>
    
{% endblock %}
